.App {
  font-family: Arial, sans-serif;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.table-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

form {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

form input, form button {
  margin-bottom: 10px;
  padding: 8px;
  font-size: 16px;
}

input {
  border-radius: 8px;
  border: 1px solid silver;
}

input:focus {
  border-color: grey;
  outline: none;
  box-shadow: 0 0 5px rgba(164, 164, 164, 0.5);
}

form button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

form button:hover {
  background-color: #0056b3;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table, .table_header, .table_data {
  border: 1px solid #ddd;
}

.table_header, td {
  padding: 8px;
  text-align: left;
}

.table_header {
  background-color: #f4f4f4;
}

tr.selected {
  background-color: lightblue;
}

h1 {
  margin-bottom: 20px;
}

.hidden {
  display: none;
}

.delete_btn {
  margin-bottom: 10px;
  padding: 8px;
  font-size: 16px;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

.delete_btn:hover {
  background-color: #a20000;
}

.total_wrapper {
  padding-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
